body {
  background-color: #ebebeb;
}

.site-title {
  text-align: center;
}

.plot-container {
  float: left;
  margin: auto;
  width: 400px;
  height: 400px;
  border: 1px solid #2e2e2e;
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.plot-container .cell {
  width: 10px;
  height: 10px;
  float: left;
  background-image: url("./img/plus2.svg");
  background-size: contain;
}
.plot-container .cell .assigned {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: "#ffffff";
}
.plot-container .cell:hover {
  background-color: aqua;
  cursor: pointer;
}

.tick-x1-container {
  float: left;
}
.tick-x1-container .x1-tick {
  width: 50px;
  float: left;
  text-align: right;
}

.tick-x2-container {
  float: left;
  width: 25px;
  height: 100%;
}
.tick-x2-container .x2-tick {
  text-align: center;
  padding-top: 25px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.violet {
  background-color: #9c27b0;
}

.yellow {
  background-color: #ffc107;
}

.right-border {
  box-sizing: border-box;
  border-right: 1px solid black;
}

.bottom-border {
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

.top-border {
  box-sizing: border-box;
  border-top: 1px solid black;
}

.left-border {
  box-sizing: border-box;
  border-left: 1px solid black;
}

.spacer {
  height: 50px;
}

.neu {
  border-radius: 20px;
  background: #ebebeb;
  box-shadow: 10px 10px 30px #d9d9d9, -10px -10px 30px #ffffff;
  padding-left: 50px;
  padding-right: 50px;
}
.neu h2 {
  padding-top: 30px;
}
.neu h3 {
  padding-top: 30px;
  padding-left: 30px;
}
.neu .horizontal-line {
  height: 1px;
  background-color: #bdbdbd;
}
.neu .dashed-line {
  border: none;
  border-top: 2px dotted #bdbdbd;
  height: 1px;
  width: 90%;
}
.neu .help-text {
  padding-left: 30px;
  padding-right: 30px;
  font-style: italic;
  padding-bottom: 10px;
  color: #4caf50;
}

.neu-2 {
  border-radius: 20px;
  background: linear-gradient(145deg, #f0f0f0, #e2e2e2);
  padding: 15px;
  font-weight: bold;
  border: 1px solid #dedede;
}

.collapsible-button-positive {
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
  background: linear-gradient(145deg, #55832b, #476e24);
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
}

.collapsible-button-positive:hover {
  background: linear-gradient(145deg, #476e24, #55832b);
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
}

.collapsible-button-positive:active {
  background: #4f7a28;
  box-shadow: inset 2px 2px 5px #436822, inset -2px -2px 5px #5b8c2e;
}

.collapsible-button-negative {
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
  background: linear-gradient(145deg, #e85600, #c34800);
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
}

.collapsible-button-negative:hover {
  background: linear-gradient(145deg, #c34800, #e85600);
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
}

.collapsible-button-negative:active {
  background: #4f7a28;
  background: #d95000;
  box-shadow: inset 2px 2px 5px #b84400, inset -2px -2px 5px #fa5c00;
}

.split-table {
  border-collapse: collapse;
  table-layout: fixed;
}
.split-table .table-header {
  font-weight: bold;
}
.split-table td {
  width: 50%;
  text-align: center;
}
.split-table .table-data {
  cursor: pointer;
}
.split-table .table-data:hover {
  font-size: 20px;
  background-color: #f8e3bb;
}
.split-table .table-data-selected {
  font-size: 20px;
  background-color: #aed581;
}
.split-table .recommended {
  font-style: italic;
  font-weight: bold;
  color: #1a967b;
}

.table-header {
  font-weight: bold;
  text-align: center;
}

.table-data {
  text-align: center;
}
.table-data .color {
  height: 10px;
  width: 100%;
  margin: auto;
  float: left;
}

.class-entry-container {
  min-width: 250px;
}
.class-entry-container .class-container {
  border-bottom: 1px solid #bebebe;
}
.class-entry-container .selected_color {
  float: left;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #bebebe;
  box-shadow: 2px 2px 5px #bebebe, -2px -2px 5px #ffffff;
}
.class-entry-container .class-text {
  float: left;
  width: 50%;
  margin-left: 20px;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  border: none;
  font-size: 12px;
  color: #555;
  box-shadow: inset 2px 2px 5px #bebebe, inset -2px -2px 5px #ffffff;
}
.class-entry-container .remove-class-btn {
  margin-top: 5px;
  background-color: red;
  float: left;
  border-radius: 50%;
  color: #fff;
  width: 20px;
  height: 20px;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  margin-left: 10px;
  cursor: pointer;
}
.class-entry-container .create-class-btn {
  outline: none;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 70%;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: #24cfaa;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 0.5s;
}
.class-entry-container .create-class-btn:hover {
  background: #2fdbb6;
}
.class-entry-container .create-class-btn:active {
  background: #1da88a;
}
.class-entry-container .add-to-graph {
  outline: none;
  border: none;
  height: 30px;
  width: 50%;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  background: #e0e0e0;
  box-shadow: 5px 5px 6px #c7c7c7, -5px -5px 6px #f9f9f9;
}
.class-entry-container .add-to-graph-selected {
  outline: none;
  border: none;
  height: 30px;
  width: 50%;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: #1da88a;
  box-shadow: inset 5px 5px 6px #1a967b, inset -5px -5px 6px #20ba99;
}

.collapsible-button {
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
  background: #3e92ff;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 0.5s;
}

.collapsible-button:hover {
  background: #347ae5;
}

.collapsible-button:active {
  background: #3a88fe;
  box-shadow: inset 2px 2px 6px #24549d, inset -2px -2px 6px #50bcff;
}

.announcement {
  background-color: #e65100;
  text-align: center;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
}

/*# sourceMappingURL=App.css.map */
